@using CustomPomodoro.Models;

<div class="d-flex flex-row w-100 group-gap gap-3">
    <!--1st color-->
    <div class="individual-content col-6 my-5 linked-color-option-one">
        <h5>@FirstColorTitle</h5>
        <div class="linked-color-preview" style="background-color:hsl(@FirstColor.Hue, @FirstColor.Saturation%, @FirstColor.Lightness%);">
        </div>
        <div class="individual-content col-6 my-5">
            <div class="d-flex flex-column text-start custom-slider mt-1">
                <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap">
                    <label class="@HueVisibilityString">Hue</label>
                    <input class="@HueVisibilityString" type="range" @onmousemove="SyncHuesIfNeeded" @ontouchmove="SyncHuesIfNeeded" @bind="FirstColor.Hue" @bind:event="oninput" min="0" max="360" />
                </div>

                <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
                    <label>Saturation</label>
                    <input type="range" @bind="FirstColor.Saturation" min="0" max="100" />
                </div>

                <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
                    <label>Light</label>
                    <input type="range" @bind="FirstColor.Lightness" min="0" max="100" />
                </div>
            </div>
        </div>
    </div>

    <div class="individual-content col-6 my-5 linked-color-option-two">
        <!--2nd color (implement later, below)-->
        <h5>@SecondColorTitle</h5>
        <div class="linked-color-preview" style="background-color:hsl(@SecondColor.Hue, @SecondColor.Saturation%, @SecondColor.Lightness%);">
        </div>

        <div class="individual-content col-6 my-5">
            <div class="d-flex flex-column text-start custom-slider mt-1">
                <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap">
                    <label class="@HueVisibilityString">Hue</label>
                    <input class="@HueVisibilityString" type="range" @onclick="SyncHuesIfNeeded" @ontouchmove="SyncHuesIfNeeded" @bind="SecondColor.Hue" @bind:event="oninput" min="0" max="360" />
                </div>

                <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
                    <label>Saturation</label>
                    <input type="range" @bind="SecondColor.Saturation" min="0" max="100" />
                </div>

                <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
                    <label>Light</label>
                    <input type="range" @bind="SecondColor.Lightness" min="0" max="100" />
                </div>
            </div>
        </div>
    </div>
   
   
</div>