@using CustomPomodoro.Models;

<div class="individual-content col-6 my-5">
 
    @{
        if (Header != string.Empty)
        {
            <h5>@Header</h5>
        }
    }
    <div class="linked-color-preview" style="background-color:hsl(@Color.Hue, @Color.Saturation%, @Color.Lightness%);">

    </div>
    <div class="d-flex flex-column text-start custom-slider mt-1">
        <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap">
            <label class="@HueVisibilityString">Hue</label>
            <input class="@HueVisibilityString" type="range" @onclick="HandleInteraction" @ontouchmove="HandleInteraction" @bind="Color.Hue" @bind:event="oninput" min="0" max="360"/>
        </div>

        <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
            <label>Saturation</label>
            <input type="range" @bind="Color.Saturation" min="0" max="100" />
        </div>

        <div class="d-flex flex-column gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
            <label>Light</label>
            <input type="range" @bind="Color.Lightness" min="0" max="100" />
        </div>
    </div>
</div>

@code {

}
