@using CustomPomodoro.Models;

<div class="linked-input col-6 my-5">
 
    @{
        if (Header != string.Empty)
        {
            <h3>@Header</h3>
        }
    }
    <div class="p-5" style="background-color:hsl(@Color.Hue, @Color.Saturation%, @Color.Lightness%);">

    </div>
    <div class="d-flex flex-column text-start custom-slider mt-1">
        <div class="d-flex flex-row gap-2 flex-wrap flex-lg-nowrap">
            <label class="col-3 @HueVisibilityString">Hue</label>
            <input class="col-9 @HueVisibilityString" type="range" @onclick="HandleClick" @bind="Color.Hue" min="0" max="360" />
        </div>

        <div class="d-flex flex-row gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
            <label class="col-3">Saturation</label>
            <input class="col-9" type="range" @bind="Color.Saturation" min="0" max="100" />
        </div>

        <div class="d-flex flex-row gap-2 flex-wrap flex-lg-nowrap @SatAndLightVisibilityString">
            <label class="col-3">Light</label>
            <input class="col-9" type="range" @bind="Color.Lightness" min="0" max="100" />
        </div>
    </div>
</div>

@code {

}
